.signin-panel {

}

.app-logo {
	width: 300px;
	height: auto;
}

.signin-form-panel {
  padding-bottom: 30px;
}

.normal-link {
  color: black;
}

.signup-link {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
}
