.signup-panel {

}

.app-logo {
	width: 300px;
	height: auto;
}

.signup-form-panel {
  padding-bottom: 30px;
  color: #2E4052;
}

.signup-form {
	max-width: 300px;
}

.normal-link {
  color: black;
}

.signin-link {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
}