.sidebar {
  background-color: #2E4052 !important;
}

.sidebar-list {
  padding-top: 42px !important;
}

.sidebar-item {
  height: 38px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.sidebar-item a {
  height: 38px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.sidebar-item-active {
  padding-left: 13px !important;
  background-color: #F5F6F7 !important;
  border-left: solid 3px #00897B !important;
}