.signin-bank-panel {

}

.signin-bank-form-panel {
  
}

.normal-link {
  color: black;
}

.signin-bank-bottom {
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  bottom: 0px;
  margin-bottom: 10px;
}